<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 应用程序名 -->
    <dubbo:application name="test-passport"></dubbo:application>

    <!-- 注册中心地址 -->
    <dubbo:registry protocol="zookeeper" address="192.168.33.12:2181"></dubbo:registry>

    <!-- 应用接口 -->
    <dubbo:reference interface="com.mygeno.test.service.TbItemDubboService" id="tbItemDubboService"></dubbo:reference>
    <dubbo:reference interface="com.mygeno.test.service.TbItemCatDubboService" id="tbItemCatDubboService"></dubbo:reference>
    <dubbo:reference interface="com.mygeno.test.service.TbUserDubboService" id="tbUserDubboService"></dubbo:reference>
</beans>
